.header {
  height: 80px;
  width: 100%;
  background-color: $primary;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 40px;
  }

  &__profile {
    padding: 5px 5px 5px 10px;
    border-radius: 30px;
    background-color: #ffffff36;
  }
  
  &__name {
    font-size: 18px;
    font-weight: 500;
    color: $white-100;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}