.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black-300;
}

.tile {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $black-300;
}